<form action="/users" method="POST">
	<p><label>Instapaper username/email<label> <input name="username"/></p>
		<p><label>Password<label> <input type="password" name="password"/></p>

	<input type="submit" />
</form>